@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans",sans-serif;
}

.bg-main-header{
    background-image: url('../assets/main-bg.jpg');
    background-size: cover;
    height: 100vh;
}

.main-header h1, h3{
    color: white;

}

.main-header h1{
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 64px;
    font-weight: 700;
}

.main-header h3{
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 27px;
    font-weight: 400;
}


.main-header .btn{
    background-color: #e8ad2c;
    border: none;
    color: black;
    padding: 20px 72px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 44%;

}

.the_story{
    /* background-color: #e8ad2c; */
    position: absolute;
    top: 80%;
    left: 50%;
}

.the_story img{
    position: absolute;
    left: 35%;
}

.the_story p{
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.bg-image-gallery{
    background-image: url('../assets/the-games-bg.jpg');
    background-size: cover;
    height: 100vh;
}

.slider{
    /* border: 2px solid salmon; */
    display: flex;
    position: absolute;
    top: 120%;
}

.about-gallery p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

.about-gallery h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

.bg-image-feature{
    background-image: url('../assets/features.jpg');
    background-size: cover;
    height: 100vh;
}

.title-feature1{
    position: absolute;
    top: 220%;
    left: 60%;
}

.title-feature1 p{
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

.title-feature1 h1{
    color: white;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 3px;
}

.shape{
    position: absolute;
    top: 250%;
    left: 60%;
}

.circle1{
        background-color: white;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        left: 60%;
        top: 250%;
    
}

.line{
    background-color: white;
    height: 110px;
    width: 2px;
    position: absolute;
    z-index: 1;
    left: 60.5%;
    top: 250%;
}

.circle2{
    border: 2px solid white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 268%;
}

.circle3{
    border: 2px solid white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 275%;
}

.caption{
    display: flex;
    position: absolute;
    flex-direction: column;
    /* border: 2px solid salmon; */
    left: 65%;
    top: 240%;
    justify-content: space-between;
}

.caption .caption-1 h3{
    color: #e8ad2c;
    /* border: 2px solid blue; */
    display: flex;
    font-size: 24px;
}

.caption .caption-1 p{
    color: white;
    font-weight: 200;
}

.caption .caption-2 h3{
    color: #e8ad2c;
    font-size: 24px;
}

.bg-image-system{
    background-image: url('../assets/requirements.png');
    background-size: cover;
    height: 100vh;
}

.system-requirement p{
    position: absolute;
    top: 310%;
    left: 40%;
    color: white;
}

.system-req .title-system{
    position: absolute;
    top: 320%;
    left: 5%;
    color: white;
}

.system-req .title-system h1{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 3px;
}

.system-requirement .tabel{
    position: absolute;
    top: 350%;
    left: 5%;
}


table {
    width: 100%;
    border-collapse: collapse;
    /* position: absolute; */
    top: 360%;
}

table td, h6{
    color: white;
}

table td, h4{
    color: #FFB548;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.bg-image-press{
    background-image: url('../assets/top-score-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}

.score {
    min-height: 100vh;
}

.mt-30 {
    margin-top: 40%;
}

.score h1, p{
    color: white;
}

.score h1{
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: 400;

}

.score p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.score button{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.score .nama{
    font-family: 'Arial';
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFB548;
}

.bg-image-footer{
    background-image: url('../assets/newsletter.png');
    background-size: cover;
    /* width: 100%; */
    min-height: 100vh;
    background-position: center;
}

.subs-footer h6{
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 400;
    color: white;
}

.subs-footer h1{
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subs-footer button{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    padding: 16px 32px;
}

